{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    {# Parcourir un tableau d'objet #}
    {% for article in liste %}
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ article.id }}</div>
        <div class="card-body">
          <h4 class="card-title">{{ article.titre }}</h4>
          <p class="card-text">{{ article.contenu }}</p>
          <p class="card-text">{{  article.date | date('Y-m-d') }}</p>
          <a href="./id/{{ article.id }}"> lien</a>
          {# <a href="{{ path('app_article_id', {'id': article.id }) }}"> lien</a> #}
        </div>
      </div>
    {% endfor %}
{% endblock %}
